
    <div class="container" style="margin-bottom:20px;padding-top:20px;">  
        <div class="row">  
          <div class="col-sm-12 btn btn-success">  
            Employee's Information  
          </div>  
        </div>  
        <div class="col-sm-12" style="margin-bottom:20px;padding-top:20px;">  
          <div class="row">  
            <div class="col-sm-6">  
              <button type="button" class="btn btn-primary" data-toggle="modal" routerLink="/addemployee">  
                Add New Employee  
              </button>  
            </div>  
            <div class="col-sm-6">  
              <input class="form-control" type="text" name="search" placeholder="Search">  
            </div>  
          </div>  
        </div>  
      </div>  
      <div class="container" style="padding-top:20px;">  
        <table class="table table-striped">  
          <thead class="thead-dark">  
            <th>Name</th>  
            <th>Department</th>  
            <th>Address</th>  
            <th>City</th>  
            <th>Country</th>  
            <th>Action</th>  
          </thead>  
          <tbody>  
            <tr *ngFor="let e of emp | async| paginate: { itemsPerPage: 5 } ; let i=index">  
              <td>{{e.Name}}</td>  
              <td>{{e.Department}}</td>  
              <td>{{e.Address}}</td>  
              <td>{{e.City}}</td>  
              <td>{{e.Country}}</td>  
              <td>  
                <div class="btn-group">  
                  <button type="button" class="btn btn-primary mr-1" (click)="EmployeeEdit(e.Id)">Edit</button>  
                  <button type="button" class="btn btn-danger mr-1" (click)="Deleteemployee(e.Id)">Delete</button>  
                </div>  
              </td>  
            </tr>  
          </tbody>  
        </table>  
        <ul class="pagination">  
         <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls>  -->
        </ul>  
      </div>